body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
    vertical-align: bottom;
}

input:focus,
button:focus,
textarea:focus,
a:focus {
    outline: none
}

h2 {
    font-size: 45px;
    line-height: 54px;
}


.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.container {
    max-width: 1320px;
    padding: 0 2%;
    margin: 0 auto;
    display: flex;
}


/* Header Area CSS */
.header-area {
    margin: 50px 0;
}

.header-area h1 {
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 20px;
    color: #fff;
}

.header-content {
    display: grid;
    grid-template-columns: 50% auto;
    background: #161616;
    border-radius: 30px;
    padding-top: 20px;
}

.player-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding: 0 100px;
}

.header-area p {
    margin-bottom: 40px;
    color: #fff;
    margin-top: 0;
}

.button-fill {
    padding: 16px 25px;
    background: #DD0000;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}
a.button-fill i {
    padding: 0 10px;
}
/* Blog-Area */
.blog-area {
    display: flex;
    justify-content: space-around;
    margin:75px 0px;
}

.sidebar-widgets {
    min-width: 312px;
    height:350px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 25px;
}

.widgets-btn a {
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 20px;
    width: 210px;
    text-align: center;
    display: block;
}

.widgets-btn a:hover {
    border: 1px solid #DD0000;
}

.active a {
    background-color: #DD0000;
    color: white;
}

.blog-list, .upcoming-match-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 25px;
}

.single-blog{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
}

.single-blog h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.post-deatils {
    padding: 20px 15px;
}
.post-thumnail img {
    width: 100%;
}
.post-tag {
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
.post-meta span {
    display: inline-flex;
    margin-right: 15px;
}
.post-meta span img{
    margin: 0 5px;
}
.view-all {
    display: none;
    text-align: center;
    margin-top: 25px;
}

.view-all a {
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #DD0000;
}


.view-all a:hover {
    background-color: white;
    color: black;
    border: 2px solid #DD0000;
}



/* Footer CSS */

footer.footer-area {
    background-color: #161616;
    padding: 130px 0;
    text-align: center;
}

.footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-menu ul li {
    display: inline-block;
    padding: 0 25px;
}

.footer-menu ul li a {
    color: #fff;
    line-height: 65px;
}
footer.footer-area hr {
    max-width: 1340px;
    margin: 50px auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.social-icon i {
    font-size: 24px;
    color: #fff;
    margin: 7px;
}

.social-icon {
    margin-top: 20px;
}

/* Upcomming Mach CSS */
.country {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.single-mach {
    text-align: center;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 260px;
    padding: 50px 23px;
}

.single-mach h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
}

.country span {
    padding: 0 15px;
    font-weight: 700;
}
