/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    .header-area {
        margin: 35px 0;
    }

    .header-content {
        grid-template-columns: 50% 50%;
    }

    .header-area h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .player-content {
        padding: 0 0px 0 30px;
    }

    .player-image img {
        width: 100%;
    }

    .header-area p {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .button-fill {
        padding: 15px 20px;

    }

    .container {
        display: table;
    }

    .sidebar-widgets {
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        height: 125px;
        margin-bottom: 25px;
        margin-bottom: 25px;
    }

    .blog-list, .upcoming-match-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
        row-gap: 25px;
    }

    .widgets-btn a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        border-radius: 20px;
        padding: 18px 22px;
        border: 1px solid #E8E8E8;
        width: 170px;
        line-height: 26px;
        text-align: center;
        display: inline-block;
    }

    article.single-blog:nth-child(9) {
        display: none;
    }

    .view-all {
        display: block;
        text-align: center;
        padding: 20px 0;
        margin-top: 35px;
    }

    .active a {
        color: white;
    }

    .blog-area {
        margin: 45px 0px;
    }

    footer.footer-area {
        padding: 70px 0;

    }



}



/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* CSS */

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

    .container {
        display: table;
    }
    .header-area h1 {
        font-size: 28px;
        line-height: 33px;
    }

    .header-content {
        grid-template-columns: auto;
        text-align: center;;
    }
    .player-content {
        align-items: center;
        padding: 0 60px;
        padding: 30px 30px 0px 30px;
       
    }
    .player-image{
        margin-top: 20px;;
    }
    .sidebar-widgets {
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        height: 125px;
        margin-bottom: 25px;
    }

    .widgets-btn a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        border-radius: 20px;
        padding: 18px 22px;
        border: 1px solid #E8E8E8;
        width: 160px;
        line-height: 26px;
        text-align: center;
        display: inline-block;
    }
    .active a {
        color: white;
    }

    .sidebar-widgets {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        height: 245px;
    }

    .blog-list, .upcoming-match-list{
        display: grid;
        grid-template-columns: auto;
        row-gap: 25px;
    }

    
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .header-area {
        margin: 25px 0;
    }

    .container {
        display: table;
    }
    .header-area h1 {
        font-size: 24px;
        line-height: 33px;
    }

    .header-content {
        grid-template-columns: auto;
        text-align: center;;
    }
    .player-content {
        align-items: center;
        padding: 25px 25px 0px 25px;
       
    }
    .player-image{
        margin-top: 20px;;
    }
    .sidebar-widgets {
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        height: 125px;
        margin-bottom: 25px;
    }

    .widgets-btn a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        border-radius: 20px;
        padding: 18px 22px;
        border: 1px solid #E8E8E8;
        width: 160px;
        line-height: 26px;
        text-align: center;
        display: inline-block;
    }
    .active a {
        color: white;
    }

    .sidebar-widgets {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        height: 245px;
    }

    .blog-list, .upcoming-match-list {
        display: grid;
        grid-template-columns: auto;
        row-gap: 25px;
    }

    footer.footer-area hr {
        margin: 20px auto;
    }

    footer.footer-area {
        padding: 40px 0;

    }
    .footer-menu ul li {
        padding: 0px 10px;
        display: block;
    }


    
}